<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmsSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <applicationSettings>
        <SmsSender.Properties.Settings>
            <setting name="ACCEPT" serializeAs="String">
                <value>Сообщение принято системой и поставлено в очередь на формирование рассылки</value>
            </setting>
            <setting name="XMLERROR" serializeAs="String">
                <value>Некорректный XML</value>
            </setting>
            <setting name="ERRPHONES" serializeAs="String">
                <value>Неверно задан номер получателя</value>
            </setting>
            <setting name="ERRSTARTTIME" serializeAs="String">
                <value>Некорректное время начала отправки</value>
            </setting>
            <setting name="ERRLIFETIME" serializeAs="String">
                <value>Некорректное время жизни сообщения</value>
            </setting>
            <setting name="ERRSPEED" serializeAs="String">
                <value>Некорректная скорость отправки сообщений</value>
            </setting>
            <setting name="ERRALFANAME" serializeAs="String">
                <value>Данное альфанумерическое имя использовать запрещено, либо ошибка </value>
            </setting>
            <setting name="ERRTEXT" serializeAs="String">
                <value>Некорректный текст сообщения</value>
            </setting>
            <setting name="INSUFFICIENTFUNDS" serializeAs="String">
                <value>Недостаточно средств</value>
            </setting>
        </SmsSender.Properties.Settings>
    </applicationSettings>
</configuration>